<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Welcome to the Info page</h1>
		<p>This is the info page: here's some information about me! Such as and also then but maybe and such as.</p>
	</body>
</html>
